
<div class="main-content" style="text-align:center;">
    <h3>Seja bem vindo ao projeto cadastro de contas!</h3>
    <p>Queria deixar um feedback sobre esta experiência <br>        
    Eu poderia ter feito muito mais implementações neste projeto caso tivesse um pouco mais de tempo para estudar sobre a tecnologia, porém, não tive tanto tempo quanto gostaria. <br>
    Ao analisar o front-end percebi que meu conhecimento em <strong> Angular </strong> era muito limitado, eu já tinha estudado
    anteriormente essa tecnologia, porém faz um tempo e vi que meu nível era de iniciante, por isso levei mais tempo que o normal para concluir o crud na parte do front-end e não consegui realizar outras implementações, como melhorias na arquitetura do back-end e outras implementações no front-end,
    mas, achei muito produtivo o desafio, consegui fazer o básico, que foi fazer o crud funcionar e para conseguir concluir, pesquisei bastante e entendi bem mais sobre a tecnologia <strong> Angular </strong>. <br>
    Para mim que nunca atuei diretamente em um projeto com Angular, foi muito proveitoso o desafio, gostei e pretende dar continuidade aos meus estudos de Angular e ganhar mais experiência. <br><br>
    Agradeço desde já a Equipe da Vectra pela oportunidade de fazer parte desta etapa e chegar até aqui! Um forte abraço a todos! 
    </p>
</div>